@import "components/_mixins", "components/reset";

html {
  font: 400 #{$font-base}/ 1.4 $font;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  > body {
    @extend %justifycontentcenter;
    @extend %flexdirectioncolumn;
    @extend %alignitemscenter;
    font-family: $font;
    position: relative;
    min-height: 100vh;
    background: $blue;
    color: $default;
    margin: 0 auto;
    @extend %flex;
  }
}

#app {
  max-width: 100%;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: $blue;
}

h2 {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 300;
  font-size: 125%;
}

section {
  margin: 0 auto 40px;
  position: relative;
  background: $white;
  width: $container;
  max-width: 100%;
  padding: 40px;
  z-index: 0;
  .chrome-app & {
    margin-bottom: 0;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    padding: 20px;
  }
}

form {
  > p {
    & + p {
      margin-top: 40px;
    }
  }
  label {
    margin-bottom: 10px;
    font-weight: 700;
    display: block;
  }
}

.button {
  transition: all 0.4s ease 0s;
  border: 1px solid $white;
  background: transparent;
  border-radius: 0.25rem;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 1;
  color: $white;
  &.smaller {
    border-color: rgba($blue, 0.5);
    color: $blue;
    &:hover {
      background: rgba($blue, 0.1);
      border-color: $blue;
    }
  }
  &[disabled] {
    box-shadow: none !important;
    background: rgba($grey, 0.25);
    color: rgba($default, 0.5);
    border-color: $grey;
    cursor: default;
    opacity: 0.35;
  }
  &:hover {
    box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.35);
  }
}

.copyright {
  color: $white;
  margin: 20px 40px;
  .chrome-app & {
    text-align: center;
  }
  .browser-app & {
    justify-content: space-between;
    align-items: center;
    display: flex;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      a.chrome-webstore-link {
        margin-top: 10px;
      }
    }
  }
  p {
    margin-bottom: 0;
  }
  a {
    text-decoration: underline;
    color: inherit;
    &:hover {
      text-decoration: none;
    }
    &.chrome-webstore-link {
      transition: all 0.4s ease 0s;
      transform: translateZ(0);
      text-decoration: none;
      width: 166px;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
