:root {
  --font: "Raleway", "Arial", sans-serif;
  --font-base: 15px;

  --container: 640px;

  --background: #00bcd4;
  --background-lighten: rgba(#00bcd4, 0.5);
  --disabled: #d9dadc;
  --color: #333;
  --color-lighten: rgba(#333, 0.5);
  --light: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    // --background-color: #00bcd4;
    // --disabled: #d9dadc;
    --color: #fff;
    --light: #333;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  min-width: 1px; //flexbox fix for Firefox
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 20px;
}

html {
  font: 400 var(--font-base) / 1.4 var(--font);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  > body {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;

    min-height: 100vh;
    margin: 0 auto;

    background-color: var(--background);
    background: Highlight;
    color: var(--color);
    font-family: inherit;
    position: relative;
  }
}

#app {
  max-width: 100%;
}

h1 {
  color: var(--color);
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
}

h2 {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 300;
  font-size: 125%;
}

section {
  background: var(--light);
  width: var(--container);
  margin: 0 auto 40px;
  position: relative;
  max-width: 100%;
  padding: 40px;
  z-index: 0;
  .chrome-app & {
    margin-bottom: 0;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    padding: 20px;
  }
}

form {
  > p {
    & + p {
      margin-top: 40px;
    }
  }
  label {
    margin-bottom: 10px;
    font-weight: 700;
    display: block;
  }
}

.button {
  border: 1px solid var(--light);
  transition: all 0.4s ease 0s;
  background: transparent;
  border-radius: 0.25rem;
  color: var(--light);
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  line-height: 1;
  &.smaller {
    border-color: var(--disabled);
    color: var(--color);
    &:not([disabled]):hover {
      background-color: var(--background);
      background-color: Highlight;
      border-color: var(--light);
    }
  }
  &[disabled] {
    box-shadow: none !important;
    cursor: default;
    opacity: 0.1;
  }
  &:hover {
    box-shadow: 0px 5px 20px -10px var(--color-lighten);
  }
}

.vue-number-input {
  &__button {
    &:hover {
      cursor: pointer;
      &::before,
      &::after {
        background: Highlight !important;
      }
    }
  }
  &__input:focus {
    border-color: Highlight !important;
  }
}

.copyright {
  color: var(--light);
  margin: 20px 40px;
  .chrome-app & {
    text-align: center;
  }
  .browser-app & {
    justify-content: space-between;
    align-items: center;
    display: flex;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      a {
        &.chrome-webstore-link {
          margin-top: 10px;
        }
      }
    }
  }
  p {
    margin-bottom: 0;
  }
  a {
    text-decoration: underline;
    color: inherit;
    &:hover {
      text-decoration: none;
    }
    &.chrome-webstore-link {
      transition: all 0.4s ease 0s;
      transform: translateZ(0);
      text-decoration: none;
      width: 166px;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
